#################
## Misc

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings
local.properties
.loadpath

## Maven stuff

target/
/workspace/

## Eclipse configs

.project
.classpath
.settings/
.metadata

## test

testd
tests/unit-test/logs/
MiT_Manual/ko/_build/
