#################
## Misc

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.DS_Store
/cubrid-migration.log
/cubrid-migration.*.log.gz
/logback-status.log
.settings
local.properties
.loadpath

## Maven stuff

target/
/workspace/

## Eclipse configs

.project
.classpath
.settings/
.metadata

## test

testd
tests/unit-test/logs/
MiT_Manual/ko/_build/
MiT_Manual/en/_build/
.claude
